@model OnlineStore.Core.Entities.StoreEntity.Category

<div class="container">
    <h4>Category</h4>
    <hr />

    @foreach (var item in Model.Products)
    {
        <p>@item.Name</p>
        <img src="/UploadedFiles/@item.ImageUrl" alt="Product Image" width="300" height="300" />
    }
   
   
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
