@model OnlineStore.Web.ViewModels.StoreViewModel
<<<<<<< HEAD
@{
	var Admins = ViewBag.Admins as SelectList;
}

=======
>>>>>>> aa8bfa30845f10860c4e901a8e8064e161bd9b4f

<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">
						<h4> New Store</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this is the</p>

					</div>
				</div>
			</div> 
			<div class="col-lg-6">
				<div class="login_form_inner register_form_inner">
					<h3>Add New Store</h3>
					<form class="row login_form" asp-action="Create" id="register_form">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="col-md-12 form-group">
							<input asp-for="Name" type="text" class="form-control" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'">
						</div>
						<div class="col-md-12 form-group">
							<input asp-for="Location" type="text" class="form-control" placeholder="Location" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Location'">
							<span asp-validation-for="Location" class="text-danger"></span>
						</div>

						<div class="col-md-12 form-group">
							<input type="text" class="form-control" asp-for="StreetAddress" placeholder="Street Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Street Address'">
							<span asp-validation-for="StreetAddress" class="text-danger"></span>
						</div>
						<div class="col-md-12 form-group">
							<input asp-for="State" type="text" class="form-control" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'">
						</div>
						<div class="col-md-12 form-group">
							<input asp-for="Zip" type="text" class="form-control" placeholder="ZipCode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ZipCode'">
							<span asp-validation-for="Zip" class="text-danger"></span>

						</div>
						<div class="col-md-12 form-group">
							<input asp-for="City" type="text" class="form-control" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'">
						</div>
						<div class="col-md-12 form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<label asp-for="AdministratorId" class="input-group-text">Amins</label>
								</div>
								<select class="form-control" asp-for="AdministratorId" asp-items="Admins">
									<option value="0">--Select Adnin--</option>

								</select>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="button button-register w-100">Create</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
