@model OnlineStore.Core.Entities.StoreEntity.Sale

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">
						<h4>Sale</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this is the</p>

					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<form asp-action="Create"> 
					<div class="login_form_inner">
					<h3>Add Sale</h3>
					<form class="row login_form" asp-action="Create" id="contactForm">
						<div class="col-md-12 form-group">
								<input asp-for="StartSale" class="form-control" placeholder="Start at" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Start at'">
								<span asp-validation-for="StartSale" class="text-danger"></span>
						</div>
						<div class="col-md-12 form-group">
								<input asp-for="EndSale" class=" form-control" placeholder="End at" onfocus="this.placeholder = ''" onblur="this.placeholder = 'End at'">
								<span asp-validation-for="EndSale" class="text-danger"></span>
						</div>
						<div class="col-md-12 form-group">
								<input asp-for="Discount" class="form-control" placeholder="Discount" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Discount'">
								<span asp-validation-for="Discount" class="text-danger"></span>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="button button-register w-100">Add Sale</button>
						</div>
					</form>
				</div>
				</form>
			</div>
		</div>
	</div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
